<div class="container" fxLayout="column" fxLayoutAlign=" center">
    <nav style="width: 100%;">
        <div class="navbar" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="header">
                <h1>Project Manager</h1>
            </div>
            <div class="logout-btn">
                <button (click)="logout()">Logout</button>
            </div>
        </div>
    </nav>

    @if(permissions.includes('create')){
    <div class="page-container no-bg" fxLayout="row" fxLayoutAlign="end" fxFlex>
        <div class="add-btn">
            <button (click)="addProject()">Create Project</button>
        </div>
    </div>
    }
    @if(isLoader){
    <mat-spinner></mat-spinner>
    }@else{
    <div class="page-container mat-elevation-z8" fxLayout="column" fxFlex>
        <div class="project-list">
            <table mat-table [dataSource]="projects">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>


                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>


                <ng-container matColumnDef="manager">
                    <th mat-header-cell *matHeaderCellDef> Manager </th>
                    <td mat-cell *matCellDef="let element"> {{element.managerId.name}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let project">
                        @if(permissions.includes('read')){
                        <button mat-icon-button color="primary" (click)="onView(project)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        }
                        @if(permissions.includes('update')){
                        <button mat-icon-button color="accent" (click)="onEdit(project)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        }
                        @if (permissions.includes('delete')) {
                        <button mat-icon-button color="warn" (click)="onDelete(project)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        }
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of users">
            </mat-paginator>
        </div>
    </div>
    }
</div>